<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managestaff">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowListBookActivity"></activity>
        <activity android:name=".SubjectListATeacher" />
        <activity android:name=".DetailASubject" />
        <activity android:name=".ShowListSubjectActivity" />
        <activity android:name=".ShowListDepartmentActivity" />
        <activity
            android:name=".ShowListTeacherActivity"
            android:label="Danh sách giáo viên"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailATeacher"
            android:label="Chi tiết giáo viên" />
        <activity
            android:name=".AddTeacherActivity"
            android:label="Thêm giáo viên"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Manage staff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>